body {
  margin: 0;
  padding: 0;
  /* Wallpaper Personalizado */
  background-image: url('/icons/ardt_wallpaper.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; /* Impede scroll no desktop */
  height: 100vh;
}