@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #576565; /* Fundo clássico do Windows 95 */
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}